# Ignore virtual environments
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore heavy video files but keep the folders
data/input_videos/*.mp4
data/input_videos/*.mov
data/input_videos/*.avi

# Ignore the trained AI brain (it should be trained locally)
data/*.yml